.done-true {
    text-decoration: line-through;
    color: #ddd;
}

#todo-list li button {
    margin-left: 40px;
}

.container-list {
    padding-top: 40px;
}

.container-list legend {
    color: black;
    width: 4%;
    margin-left: 100px;
    margin-bottom: 0;
    border-width: 0;
}

.container-list fieldset {
    border:1px solid black;
}
