.done-true {
    text-decoration: line-through;
    color: #ddd;
}

#todo-list li button {
    margin-left: 40px;
}

.standard {
    margin-left: 25px;
    margin-bottom: 20px;
}

.span4 {
    display: inline-table;
    width: 50px;
}

.span5 {
    display: inline-table;
    width: 80px;
}

.span8 {
    display: inline-table;
    width: 350px;
}

.span9 {
    display: inline-table;
    width: 380px;
}

.span10 {
    display: inline-table;
    width: 430px;
}

div.marg {
   margin-left: 25px; 
}

div.row {
    display:table;
}

.row label {
    margin-left: 5px;
}

.span8 label {
    display: inline;
}

legend {
    color: black;
    width: 8%;
    margin-left: 100px;
    margin-bottom: 0;
    border-width: 0;
}

.statistic {
    width: 14%;
}

.container-list fieldset {
    width: 80%;
    border:1px solid black;
    margin-left: 20px;
}

#todo-form {
    margin-left: 25px;
}

#new-daily {
    margin-left: 25px;
}

.container-list span.date {
    margin-left: 40px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.container-list div.controls {
    margin-left: 20px;
}

ul {
    list-style-type: none;
}

form input {
    width: 400px;
}

.color {
    background-color: #00BFFF;
}

.color0 {
    background-color: #00C90D;
}

.color1 {
    background-color: #67E300;
}

.color2 {
    background-color: #A2EE00;
}

.color3 {
    background-color: #D2F700;
}

.color4 {
    background-color: #FFFC00;
}

.color5 {
    background-color: #FFE800;
}

.color6 {
    background-color: #FFBF00;
}

.color7 {
    background-color: #FF7400;
}

.color8 {
    background-color: #FF0000;
}

/*
FF0000
FF4900
FF7400
FF9200
FFAB00
FFBF00

FFD500
FFE800
FFFC00
D2F700

A2EE00


67E300
00C90D
*/