DirectoryIndex index.php

RewriteEngine on

RewriteCond %{REQUEST_URI} !^/index.php
RewriteCond %{REQUEST_URI} !^/node_modules
RewriteCond %{REQUEST_URI} !^/css
RewriteCond %{REQUEST_URI} !^/js
RewriteRule (.*) /index.php?route=$1 [L]
