<div class="container-list">

    <span class="date">{{ date|date }}</span>
    <fieldset>
        <legend class="legend-daily-{{language}}">{{'DAILY'|translate}}</legend>
        <form id="daily-form" ng-submit="add(newDaily, currentType); addPeriod = false">
            <div>
                
            <input ng-focus="addPeriod = true" id="new-daily" class="" type="text" placeholder="{{'ADD_DAILY_ITEM'|translate}}" ng-model="newDaily" ng-disabled="saving" />
            <div class="right-buttons">
                <button type="button" ng-click="showRegular()">all</button>
                <button type="button" ng-click="showWeekly()">weekly</button>
                <button type="button" ng-click="showMonthly()">monthly</button>
            </div>
            </div>
            
            <span ng-show="addPeriod"><button ng-click="addPeriod = false">Close</button></span>
            <div ng-show="addPeriod" class="daily-form">
                <strong>Daily:</strong><br/>
                Every day<input type="checkbox" name="daily" class="daily-check" ng-model="dailyCheck" ng-click="selectDay()"/><br/>
                <strong>Weekly:</strong><br/>
                Monday<input type="checkbox" name="week1" class="weekly-check" ng-model="weeklyCheck1" ng-click="selectWeek()"/> 
                Tuesday<input type="checkbox" name="week2" class="weekly-check" ng-model="weeklyCheck2" ng-click="selectWeek()"/> 
                Wednesday<input type="checkbox" name="week3" class="weekly-check" ng-model="weeklyCheck3" ng-click="selectWeek()"/> 
                Thursday<input type="checkbox" name="week4" class="weekly-check" ng-model="weeklyCheck4" ng-click="selectWeek()"/> 
                Friday<input type="checkbox" name="week5" class="weekly-check" ng-model="weeklyCheck5" ng-click="selectWeek()"/> 
                Saturday<input type="checkbox" name="week6" class="weekly-check" ng-model="weeklyCheck6" ng-click="selectWeek()"/> 
                Sunday<input type="checkbox" name="week7" class="weekly-check" ng-model="weeklyCheck7" ng-click="selectWeek()"/> 
                <br/>
                <strong>Monthly:</strong><br/>
                Day of every month:
                <select ng-model="monthlyCheck" ng-click="selectMonth()">
                    <option ng-repeat="zday in days">{{zday}}</option>
                </select>
                <br/>
                <input type="submit" value="Submit"/>
            </div>
        </form>
        <div class="row marg" ng-hide="addPeriod">
            <div class="span10">{{'NAME'|translate}}:</div>
            <div class="span4">{{'TO_ARCHIVE'|translate}}:</div>
        </div>

        <ul id="daily-list" ng-hide="addPeriod">
            <li ng-repeat="todo in todos" ng-init="todo.delay = todo.delay > 8 ? 8 : todo.delay">
                <div ng-if="showItem(todo)">
                    <div class="row">    
                        <div class="span8">
                            <input ng-hide="editing" type="checkbox" ng-model="todo.done"  ng-click="switch (todo)">
                            <label ng-hide="editing" class="done-{{todo.done}}" ng-bind="todo.name" ng-click="editing = true"></label>
                        </div>
                        <div class="span5">
                            <span ng-hide="editing" class="color{{todo.delay}}">{{todo.delay ? ("0" === todo.delay ? ('DID_TODAY' | translate) : todo.delay + ' ' + (russianDays(todo.delay) | translate)) : ('NEVER_DID' | translate)}}</span>
                        </div>
                        <button ng-hide="editing" class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="archive(todo)"></button>
                        <form ng-show="editing" ng-submit="editing = false">
                            <input type="text" class="editing" ng-model="todo.name" placeholder="todo.name" ng-required/>
                            <div class="daily-form" ng-init="initEditItemForm(todo)">
                                <strong>Daily:</strong><br/>
                                Every day<input type="checkbox" name="daily" class="daily-check" ng-model="todo.daily" ng-click="selectDay(todo)"/><br/>
                                <strong>Weekly:</strong><br/>
                                Monday<input type="checkbox" name="week1" class="weekly-check" ng-model="todo.weekly[0]" ng-click="selectWeek(todo)"/> 
                                Tuesday<input type="checkbox" name="week2" class="weekly-check" ng-model="todo.weekly[1]" ng-click="selectWeek(todo)"/> 
                                Wednesday<input type="checkbox" name="week3" class="weekly-check" ng-model="todo.weekly[2]" ng-click="selectWeek(todo)"/> 
                                Thursday<input type="checkbox" name="week4" class="weekly-check" ng-model="todo.weekly[3]" ng-click="selectWeek(todo)"/> 
                                Friday<input type="checkbox" name="week5" class="weekly-check" ng-model="todo.weekly[4]" ng-click="selectWeek(todo)"/> 
                                Saturday<input type="checkbox" name="week6" class="weekly-check" ng-model="todo.weekly[5]" ng-click="selectWeek(todo)"/> 
                                Sunday<input type="checkbox" name="week7" class="weekly-check" ng-model="todo.weekly[6]" ng-click="selectWeek(todo)"/> 
                                <br/>
                                <strong>Monthly:</strong><br/>
                                Day of every month:
                                <select ng-model="todo.monthly" ng-click="selectMonth(todo)">
                                    <option ng-repeat="zday in days">{{zday}}</option>
                                </select>
                            </div>
                            <button class="btn" type="submit" ng-click="update(todo)">{{'SAVE'|translate}}</button>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </fieldset>

    <div class="controls">
        <span class="date">{{ date|date }}</span>
        <button ng-click="decreaseDay()" >{{'YESTERDAY'|translate}}</button>
        <button ng-click="increaseDay()" >{{'TOMORROW'|translate}}</button>
        <span><button ng-disabled="0 == day" ng-click="today()" >{{'TODAY'|translate}}</button></span>
    </div>

    <fieldset>
        <legend class="legend-regular-{{language}}">{{'REGULAR'|translate}}</legend>

        <form id="todo-form" ng-submit="add(newTodo, 0);addRevolver=false" >
            <input id="new-todo" ng-focus="addRevolver = true" class="" type="text" placeholder="{{'ADD_TODO_ITEM'|translate}}" ng-model="newTodo" ng-disabled="saving">
            <span ng-show="addRevolver"><button ng-click="addRevolver = false">Close</button></span>
            <div ng-show="addRevolver" class="revolver-form">
                <strong>Simple:</strong><br/>
                No subtasks
                <input type="checkbox" name="revolver-simple" ng-model="revolverSimple" ng-click="closeRevolverTasks()" checked /><br/>
                <strong>Revolver, has subtasks:</strong><br/>
                
                <div id="container">
                    <div ng-repeat="task in revolverTasks track by $index">
                        <input type="text" name="{{task}}" ng-model="subtasks[$index]" placeholder="Add subtask" ng-click="deselectSimple()" />
                    </div>
                </div>
                <button type="button" ng-click="addRevolverTask({})" ng-disabled="revolverTasks.length > 10">Add more subtasks</button>
                <button type="button" ng-click="removeRevolverTask({})" ng-disabled="revolverTasks.length == 0">Remove subtask</button>
                <input type="submit" value="Submit"/>
            </div>
        </form>

        <div class="row marg">
            <div class="span12">{{'NAME'|translate}}:</div>
            <div class="span6">{{'CHANGE_DATE'|translate}}:</div>
            <div class="span5">{{'TO_ARCHIVE'|translate}}:</div>

        </div>

        <ul id="todo-list">
            <li ng-repeat="todo in todos" ng-init="todo.time_left = convertTimeLeft(todo.time_left, todo.done)">
                <div ng-if="todo.type == 0">
                    <div class="row">
                        <div class="span8">
                            <input ng-hide="editing || (todo.next_subitem || todo.last_completed_subitem)" type="checkbox" ng-model="todo.done" ng-click="switch (todo)">
                            <label ng-hide="editing" class="done-{{todo.done}}" ng-bind="todo.name" ng-click="editing = true; subtasks = []"></label>
                            <label ng-hide="editing || !(todo.next_subitem||todo.last_completed_subitem)" class="italic done-{{todo.done}}" >
                                (
                                <input ng-hide="editing || !todo.last_completed_subitem" type="checkbox" checked ng-click="uncheckLast(todo)">
                                <span ng-bind="todo.last_completed_subitem"></span>
                                <input ng-hide="editing || !todo.next_subitem" type="checkbox" ng-click="checkNext(todo)">
                                <span ng-bind="todo.next_subitem"></span>
                                )
                            </label>
                        </div>
                        <span class="inline-table color{{todo.time_left}}">{{todo.todo_at|date}}</span>

                        <button type="button" 
                                uib-datepicker-popup="{{format}}"
                                class="btn btn-default inline-table" 
                                ng-click="open($index)"
                                ng-model="todo.todo_at" 
                                ng-change="change(todo.id, todo.todo_at, $index)"\\
                                show-button-bar="false"
                                is-open="popup[$index].opened" 
                                datepicker-options="dateOptions">

                            <i class="glyphicon glyphicon-time"></i>
                        </button>
                        <div class="span4">
                            <button ng-hide="editing" class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="archive(todo)" title="{{'TO_ARCHIVE'|translate}}"></button>
                        </div>

                        <form ng-show="editing" ng-submit="editing = false">
                            <input type="text" class="editing" ng-model="todo.name" placeholder="todo.name" ng-required/>
                            <button class="btn" type="submit" ng-click="update(todo)">{{'SAVE'|translate}}</button>
                            <any ng-init="todo.subtasksEdit = todo.subitems.split('###')"></any>
                            <div ng-repeat="subitem in todo.subtasksEdit track by $index" >
                                <input type="text" ng-model="todo.subtasksEdit[$index]" required="true"/>
                            </div>
                            <div>
                                <button type="button" ng-click="addRevolverTask(todo)" ng-disabled="item.subtasksEdit.length > 10">Add more subtasks</button>
                                <button type="button" ng-click="removeRevolverTask(todo)" ng-disabled="item.subtasksEdit.length == 0">Remove subtask</button>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </fieldset>

    <div class="controls">
        <span class="date">{{ date|date }}</span>
        <button ng-click="decreaseDay()" >{{'YESTERDAY'|translate}}</button>
        <button ng-click="increaseDay()" >{{'TOMORROW'|translate}}</button>
        <span><button ng-disabled="0 == day" ng-click="today()" >{{'TODAY'|translate}}</button></span>
    </div>
</div>