<div class="container-list">

    <span class="date">{{ date|date }}</span>
    <fieldset>
        <legend class="legend-daily-{{language}}">{{'DAILY'|translate}}</legend>
        <form id="daily-form" ng-submit="add(newDaily, currentType);addPeriod=false">
            <!--<input id="new-daily" class="" type="text" placeholder="{{'ADD_DAILY_ITEM'|translate}}" ng-model="newDaily" ng-disabled="saving" autofocus />-->
            <input ng-focus="addPeriod=true" id="new-daily" class="" type="text" placeholder="{{'ADD_DAILY_ITEM'|translate}}" ng-model="newDaily" ng-disabled="saving" autofocus />
            <span ng-show="addPeriod"><button ng-click="addPeriod=false">Close</button></span>
            <div ng-show="addPeriod" class="daily-form">
                <strong>Daily:</strong><br/>
                Every day<input type="checkbox" name="daily" class="daily-check" ng-model="dailyCheck" ng-click="selectDay()"/><br/>
                <strong>Weekly:</strong><br/>
                Monday<input type="checkbox" name="week1" class="weekly-check" ng-model="weeklyCheck1" ng-click="selectWeek()"/> 
                Tuesday<input type="checkbox" name="week2" class="weekly-check" ng-model="weeklyCheck2" ng-click="selectWeek()"/> 
                Wednesday<input type="checkbox" name="week3" class="weekly-check" ng-model="weeklyCheck3" ng-click="selectWeek()"/> 
                Thursday<input type="checkbox" name="week4" class="weekly-check" ng-model="weeklyCheck4" ng-click="selectWeek()"/> 
                Friday<input type="checkbox" name="week5" class="weekly-check" ng-model="weeklyCheck5" ng-click="selectWeek()"/> 
                Saturday<input type="checkbox" name="week6" class="weekly-check" ng-model="weeklyCheck6" ng-click="selectWeek()"/> 
                Sunday<input type="checkbox" name="week7" class="weekly-check" ng-model="weeklyCheck7" ng-click="selectWeek()"/> 
                <br/>
                <strong>Monthly:</strong><br/>
                Day of every month:
                <select ng-model="monthlyCheck" ng-click="selectMonth()">
                     <option ng-repeat="zday in days">{{zday}}</option>
                </select>
                <br/>
                <input type="submit" value="Submit"/>
            </div>
        </form>
        <div class="row marg" ng-hide="addPeriod">
            <div class="span10">{{'NAME'|translate}}:</div>
            <div class="span4">{{'TO_ARCHIVE'|translate}}:</div>
        </div>

        <ul id="daily-list" ng-hide="addPeriod">
            <li ng-repeat="todo in todos" ng-init="todo.delay = todo.delay > 8 ? 8 : todo.delay">
                <div ng-if="todo.type > 0">
                    <div class="row">    
                        <div class="span8">
                            <input ng-hide="editing" type="checkbox" ng-model="todo.done"  ng-click="switch (todo)">
                            <label ng-hide="editing" class="done-{{todo.done}}" ng-bind="todo.name" ng-click="editing = true"></label>
                        </div>
                        <div class="span5">
                            <span ng-hide="editing" class="color{{todo.delay}}">{{todo.delay ? ("0" === todo.delay ? ('DID_TODAY'|translate) : todo.delay + ' ' + (russianDays(todo.delay)|translate)) : ('NEVER_DID'|translate)}}</span>
                        </div>
                        <button ng-hide="editing" class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="archive(todo)"></button>
                        <form ng-show="editing" ng-submit="editing = false">
                            <input type="text" class="editing" ng-model="todo.name" placeholder="todo.name" ng-required/>
                            <button class="btn" type="submit" ng-click="update(todo)">{{'SAVE'|translate}}</button>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </fieldset>
    
    <div class="controls">
        <button ng-click="decreaseDay()" >{{'YESTERDAY'|translate}}</button>
        <button ng-click="increaseDay()" >{{'TOMORROW'|translate}}</button>
        <span><button ng-disabled="0 == day" ng-click="today()" >{{'TODAY'|translate}}</button></span>
    </div>
    
    
        <fieldset>
        <legend class="legend-regular-{{language}}">{{'REGULAR'|translate}}</legend>

        <form id="todo-form" ng-submit="add(newTodo, 0)">
            <input id="new-todo" class="" type="text" placeholder="{{'ADD_TODO_ITEM'|translate}}" ng-model="newTodo" ng-disabled="saving" autofocus required>
        </form>

        <div class="row marg">
            <div class="span12">{{'NAME'|translate}}:</div>
            <div class="span6">{{'CHANGE_DATE'|translate}}:</div>
            <div class="span5">{{'TO_ARCHIVE'|translate}}:</div>

        </div>

        <ul id="todo-list">
            <li ng-repeat="todo in todos" ng-init="todo.time_left=convertTimeLeft(todo.time_left, todo.done)">
                <div ng-if="todo.type == 0">
                    <div class="row">
                        <div class="span8">
                            <input ng-hide="editing" type="checkbox" ng-model="todo.done" ng-click="switch(todo)">
                            <label ng-hide="editing" class="done-{{todo.done}}" ng-bind="todo.name" ng-click="editing = true"></label>
                        </div>
<span class="inline-table color{{todo.time_left}}">{{todo.todo_at|date}}</span>


<!--// TEST CODE BEGINS-->                                              


                        <button type="button" 
                                uib-datepicker-popup="{{format}}"
                                class="btn btn-default inline-table" 
                                ng-click="open($index)"
                                ng-model="todo.todo_at" 
                                ng-change="change(todo.id, todo.todo_at, $index)"
                                show-button-bar="false"
                                is-open="popup[$index].opened" 
                                datepicker-options="dateOptions">
                            
                            <i class="glyphicon glyphicon-time"></i>
                        </button>
                        <div class="span4">
                            <button ng-hide="editing" class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="archive(todo)" title="{{'TO_ARCHIVE'|translate}}"></button>
                        </div>

                        <form ng-show="editing" ng-submit="editing = false">
                            <input type="text" class="editing" ng-model="todo.name" placeholder="todo.name" ng-required/>
                            <button class="btn" type="submit" ng-click="update(todo)">{{'SAVE'|translate}}</button>
                        </form>
                        
<!--// TEST CODE ENDS-->

                    </div>
                </div>
            </li>
        </ul>
    </fieldset>

    <div class="controls">
        <button ng-click="decreaseDay()" >{{'YESTERDAY'|translate}}</button>
        <button ng-click="increaseDay()" >{{'TOMORROW'|translate}}</button>
        <span><button ng-disabled="0 == day" ng-click="today()" >{{'TODAY'|translate}}</button></span>
    </div>
</div>