<div class="container-list">

    <fieldset>
        <legend>Normal</legend>

        <form id="todo-form" ng-submit="add(newTodo, 0)">
            <input id="new-todo" placeholder="Enter Todo Item" ng-model="newTodo" ng-disabled="saving" autofocus required>
        </form>

        <ul id="todo-list">
            <li ng-repeat="todo in todos">
                <input ng-hide="editing" type="checkbox" ng-model="todo.done"  ng-click="switch(todo)">
                <label ng-hide="editing" class="done-{{todo.done}}" ng-bind="todo.name" ng-click="editing = true"></label>
                <button ng-hide="editing" class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="remove(todo)"></button>
                <form ng-show="editing" ng-submit="editing = false">
                    <input type="text" ng-model="todo.name" placeholder="todo.name" ng-required/>
                    <button class="btn" type="submit" ng-click="update(todo)">Save</button>
                </form>
            </li>
        </ul>
    </fieldset>
    <fieldset>
        <legend>Daily</legend>
        Content<br/>
        More content
    </fieldset>
</div>